.navbar {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1.2rem 1rem;
  height: 80px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.navbar-logo h2 {
  color: #333;
  font-weight: 600;
  margin: 0;
  font-size: 2.0rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1.5rem;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 0.5rem 0;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #af4fc5;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #cb77e4;
}

.nav-link:hover::after {
  width: 100%;
}

/* Menu for mobile */
.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .menu-icon-bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 2px 0;
    transition: all 0.3s ease;
  }

  .menu-icon-bar.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-icon-bar.open:nth-child(2) {
    opacity: 0;
  }

  .menu-icon-bar.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-menu {
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 100;
  }

  .nav-menu.active {
    max-height: 300px;
  }

  .nav-item {
    margin: 1rem 0;
    text-align: center;
  }
}